﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="dsp_vimeo.aspx.cs" Inherits="Hawa.Src.Productfinder.dsp_vimeo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe src="http://player.vimeo.com/video/68525418"  runat="server" id="vimeoFrame" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    </form>
</body>
</html>
