/*
new red :			#FF1928
color red:			#FF1928
color gray bright:	#DEDEDE
color gray:			#BEC4C7
alternate color:	#EDEDEF
*/

BODY,TD,TABLE,P {font-family: Arial,sans-serif;	font-size:11px;	text-decoration: none;}
A {font-size:11px;color:#FF1928; text-decoration:underline;}

.Language{color:#FF1928;}
A.Language{font-family:Arial; color:#B6B6B6; font-size:10px; text-decoration: none;}
A.Language:HOVER{color:#000000; text-decoration:none; font-size:10px;}
A.Language:ACT{color:#000000; text-decoration:none; font-size:10px;}

.logo{padding:5px;}

/* Top Right */
.AppTitle {font-family:Arial,sans-serif; font-size:11px; font-weight:normal;}
/* Top Bar */
.TopTitle {background:#DEDEDE; padding-left:10px; padding-right:10px;}
/* Box Title */
.BoxTitle {font-weight:bold; font-size:14px; background:#BEC4C7; height:20px; padding-left:9px; padding-right:10px;}
.BoxSubTitle {font-weight:normal; background:#DEDEDE; padding-top:0px; padding-left:10px;}
.BoxText  {font-weight:normal; background:#DEDEDE; padding:10px;}
.BoxGrayBright {background:#DEDEDE;}
.BoxGrayAlternate {background:#EDEDEF;}
.BoxGray {font-weight:normal; background:#BEC4C7;}
.TableHeader {padding-left:10px; padding-right:5px; font-weight:normal; height:25px; background:#DEDEDE;}
.pager {padding-left:10px; padding-right:5px; padding-top:2px;padding-bottom:2px;font-weight:normal; height:20px; background:#DEDEDE;}
.pager a 
{
    background:#EDEDEF;
    color:#FF1928;
    text-decoration:none;
    width:20px;
    height:18px;
    padding-left:5px;
    padding-right:5px;
    border:solid 1px #FF1928;
    margin-right:1px;
}
.pager a:hover
{
    background:#FF1928;
    color:#fff;
    text-decoration:none;
    width:20px;
    height:18px;
    padding-left:5px;
    padding-right:5px;
    border:solid 1px #FF1928;
    margin-right:1px;
}
.pager span
{
    background:#FF1928;
    color:#fff;
    text-decoration:none;
    width:20px;
    height:18px;
    padding-left:5px;
    padding-right:5px;
    border:solid 1px #FF1928;
    margin-right:1px;
}

.TableNotFound {color:#FF1928; padding-left:5px; padding-right:5px; font-weight:normal;}
.FileNotFound {color:#FF1928; font-size: 11px; font-weight:bold;}
.TableText {padding-left:10px; padding-right:5px; font-weight:normal; height:20px;}
.ImageBorder {border: #DEDEDE 1px solid;}

.SearchTitle {font-weight:bold; font-size:12px; padding-left:9px; padding-right:10px;}
.SearchText {font-size:12px; padding-left:9px; padding-right:10px;}
.SearchTextBox {width:120px;}
.AccessoireHeader {font-weight:bold; font-size:14px; background:#DEDEDE; height:20px; padding-left:9px; padding-right:10px;}

CHECKBOX
{
	border-right: #e1e1e1 1px;
	border-top: #e1e1e1 1px;
	font-size: 19px;
	background: #e1e1e1;
	border-left: #e1e1e1 1px;
	color: black;
	border-bottom: #e1e1e1 1px;
	font-family: Arial,sans-serif;
	height: 19px;
}


Inputfield
{
	font-family:Arial,sans-serif; 
	height:19px; 
	background-color:#E1E1E1;
	background:white;
	color:black; 
	font-size:11px; 
	border: 1px solid #FFFFFF;
}

Inputfield1
{
	font-family:Arial,sans-serif; 
	height:18px; 
	background-color:#E1E1E1;
	background:white;
	color:black; 
	font-size:10px; 
	border: 1px solid #000000;
}

.Check 
{ 
	background-color:#E1E1E1; 
	border:1px solid #DDDDDD; 
	
	
}

.titleText 
{
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	COLOR: white; 
	FONT-FAMILY: Arial,sans-serif; 
	HEIGHT: 17px; 
	BACKGROUND-COLOR: #ee3e41 
}

.headerText
{
	PADDING-LEFT: 15px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: black; 
	FONT-FAMILY: Arial,sans-serif; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #dcdcdc 
}

.GridHeaderText
{
	PADDING-LEFT: 10px; 
	PADDING-Right: 10px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: black;
	FONT-FAMILY: Arial,sans-serif; 
	HEIGHT: 17px; 
	BACKGROUND-COLOR: #dcdcdc 
}

.GridText
{
	PADDING-LEFT: 5px; 
	PADDING-right: 5px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	COLOR: black; 
	FONT-FAMILY: Arial,sans-serif; 
	HEIGHT: 17px; 
}

A.PRODUCT 
{
	PADDING-LEFT: 5px; 
	PADDING-right: 5px; 
	FONT-SIZE: 12px; 
	COLOR: #ee3e41; 
	FONT-FAMILY: Arial,sans-serif; 
	TEXT-DECORATION: none 
}

A.PRODUCT:hover 
{
	FONT-SIZE: 12px; 
	COLOR: #ee3e41; 
	FONT-FAMILY: Arial,sans-serif; 
	TEXT-DECORATION: underline 
}

A.DETAIL
{
	font-size: 12px;
	color: #ee3e41;
	font-family: Arial,sans-serif;
	text-decoration: none;
}

A.DETAIL:hover 
{
	FONT-SIZE: 12px; 
	COLOR: #FF0000; 
	FONT-FAMILY: Arial,sans-serif; 
	TEXT-DECORATION: underline 
}

.MERKMAL
{
	color:#535252; 
	font-family: Arial,sans-serif;
	font-size:12px;
	background-color:#BEC4C7;
}
.SHORT
{
	FONT-SIZE: 14px; 
	FONT-WEIGHT: BOLD;
	color:#535252;
	FONT-FAMILY: Arial,sans-serif;
}
.SHORT_medium
{
	FONT-SIZE: 12px; 
	FONT-WEIGHT: BOLD;
	FONT-FAMILY: Arial,sans-serif;
}
.SHORT_small
{
	FONT-SIZE: 11px; 
	FONT-WEIGHT: normal;
	FONT-FAMILY: Arial,sans-serif;
}
.PRODUCTTEXT
{
	font-family: Arial,sans-serif;
	font-size:12px;
	background-color:#dcdcdc;
	padding:10px;
	
}
.PRODUCTNAME
{
	font-family: Arial,sans-serif;
	font-size:16px;
	padding-left:10px;
	font-weight:bold;
	
}

.REFERENCE
{
	font-family: Arial,sans-serif;
	font-size:11px;
	padding: 10px;
	background-color:#DCDCDC;
}

