<%@ Page language="c#" Codebehind="reports.aspx.cs" AutoEventWireup="false" Inherits="Hawa.Src.Productfinder.documents.reports" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>default</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="FormMain" method="post" runat="server">
			<asp:label id="Label1" runat="server">Default Page</asp:label></form>
	</body>
</HTML>
