/* Item class (normal state)  */

.slt2kItem 
{
	cursor: hand;
}

/* Item label class (normal state)  */

.slt2kItem #sltl
{
	font-family: Tahoma;
	font-size: 13px;
	cursor: hand;
}

/* Item class (active state) */

.slt2kItema 
{
	cursor: hand;
}

/* Item label class (active state) */

.slt2kItema #sltl
{
	cursor: hand;
	font-family: Tahoma;
	font-size: 13px;
	color: white;
	text-decoration: underline;
	background-color: blue;
}

/* Item class (selected state) */

.slt2kItems 
{
	cursor: hand;
}

/* Item label class (selected state) */

.slt2kItems #sltl
{
	cursor: hand;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 13px;
}

/* Item class (active+selected state) */

.slt2kItemas 
{
	cursor: hand;
}

/* Item label class (active+selected state) */

.slt2kItemas #sltl
{
	cursor: hand;
	font-family: Tahoma;
	font-size: 13px;
	color: white;
	font-weight: bold;
	text-decoration: underline;
	background-color: blue;
}

/* NonSelectable item class */

.slt2kItemn 
{
}

/* NonSelectable item label class */

.slt2kItemn #sltl
{
	font-family: Tahoma;
	font-size: 13px;
}

/* Disabled item class */

.slt2kItemd
{
}

/* Disabled item label class */

.slt2kItemd #sltl
{
	font-family: Tahoma;
	font-size: 13px;
	color: silver;
}

/* Spacer class (empty) */

.slt2kSpacer0 
{
	background-image: none;
}

/* Spacer class */

.slt2kSpacer1 
{
	background-image: url(spacer1.gif);
	background-position: center center;
}

/* Spacer class */

.slt2kSpacer2
{
	background-image: url(spacer2.gif);
	background-position: center center;
}

/* Spacer class */

.slt2kSpacer3
{
	background-image: url(spacer3.gif);
	background-position: center center;
}

/* Knot class */

.slt2kKnot2
{
	background-image: url(spacer2.gif);
	background-position: center center;
	cursor: hand;
}

/* Knot class */

.slt2kKnot3
{
	background-image: url(spacer3.gif);
	background-position: center center;
	cursor: hand;
}

/* TreeLink placeholder class */

.slt2kHolder 
{
}

/* TreeLink row class */

.slt2kRow
{
	padding: 0;
}
